.app-panel{spacing:10px;}
.app-panel StButton{font-size:1.8em;color:gray;}
.app-panel StButton:hover{color:white;}
.content-panel{width:500px;height:500px;}
/* daily verse */
.daily-verse{width:400px;height:400px;padding:25px;border:1px solid gray;border-radius:5px;}
.daily-verse .verse-label{padding-bottom:10px;font-size:1.2em;}
.daily-verse .ref-button{font-size:0.9em;font-style:italic;color:gray;}
.daily-verse .ref-button:hover{color:white;}
.daily-verse .control-area{spacing:10px;}
.daily-verse .control-area .version-button{
border:2px solid rgba(0,0,0,0.0);border-radius:5px;
padding:5px;color:gray;
}
.daily-verse .control-area .version-button.current{color:white;}
.daily-verse .control-area .version-button:hover{border-color:gray;color:white;}
/* book navigator */
.book-navigator{spacing-rows:0px;spacing-columns:0px;}
.book-navigator StButton{width:50px;height:50px;border:1px solid gray;border-radius:5px;}
.book-navigator StButton:hover{border-color:white;}
/* chapter navigator */
.chapter-navigator{spacing-rows:20px;spacing-columns:20px;}
.chapter-navigator .chapter-label{
width:190px;height:50px;padding:0 10px;
font-size:2.5em;text-align:right;vertical-align:center;
border:1px solid gray;border-radius:5px;
}
.chapter-navigator StButton{
width:50px;height:50px;font-size:1.5em;
border:1px solid gray;border-radius:5px;
}
.chapter-navigator StButton:hover{border-color:white;}
/* verse reader */
.verse-reader{spacing:10px;width:450px;height:480px;}
.verse-reader .nav-area{spacing:5px;}
.verse-reader .nav-area StButton{color:gray;}
.verse-reader .nav-area StButton:hover{color:white;}
.verse-reader .nav-area .ref-label{font-weight:bold;}
.verse-reader .control-area{spacing:10px;}
.verse-reader .control-area .version-button{
border:2px solid rgba(0,0,0,0.0);border-radius:5px;
padding:5px;color:gray;
}
.verse-reader .control-area .version-button.current{color:white;}
.verse-reader .control-area .version-button:hover{border-color:gray;color:white;}
/* search */
.search{spacing:10px;width:450px;height:480px;}
.search .search-entry {
    padding:4px 12px;
    border-radius: 17px;
    color: rgb(128, 128, 128);
    border: 2px solid rgba(245,245,245,0.2);
    background-gradient-start: rgba(5,5,6,0.1);
    background-gradient-end: rgba(254,254,254,0.1);
    background-gradient-direction: vertical;
    caret-color: rgb(128, 128, 128);
    caret-size: 1px;
    transition-duration: 300;
    box-shadow: inset 0px 2px 4px rgba(0,0,0,0.6);
}

.search .search-entry:focus,
.search .search-entry:hover {
    border: 2px solid rgb(136,138,133);
    background-gradient-start: rgb(200,200,200);
    background-gradient-end: white;
    background-gradient-direction: vertical;
}

.search .search-entry:hover {transition-duration: 300;}
.search .search-entry:focus {
color: rgb(64, 64, 64);
font-weight: bold;
transition-duration: 0;
}
.search .search-entry .search-entry-icon{icon-size: 1em;color: #8d8f8a;}
.search .verse-scroller StButton{text-align:left;}
